/* ========================================
   BLOG SECTION STYLES
   ======================================== */

.section-title {
    margin-top: 10rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.2px;
    text-align: center;
}

.underline {
    height: 0.4rem;
    width: 5rem;
    border-radius: 4px;
    background: #A8F0FF;
    margin-left: auto;
    margin-right: auto;
}

.card {
    position: relative;
    margin: 0.5rem 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0.3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    padding: 24px;
    background-color: #fff;
}

.card>img {
    height: 200px;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    margin-top: -50px;
    transition: 0.5s;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -7px rgba(0, 0, 0, 0.20);
}

.card>img:hover {
    transform: translateY(-50px);
}

.card h6 {
    font-size: 20px;
    margin: 1.2rem 0 0;
    color: #A8F0FF;
}

p {
    font-size: 16px;
    line-height: 25px;
    color: #495464;
}

.btn-danger {
    margin: 0.5rem 0 0.5rem;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.btn-danger:hover {
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.4);
}