/* ========================================
   CONTRIBUTOR SECTION STYLES
   ======================================== */

.contributor_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 45px;
}

.contributor_bar input {
    width: 75%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    margin: 25px;
    margin-top: 35px;
    padding-left: 15px;
    font-size: 1rem;
    font-family: cursive;
    background-color: #0A0A0A;
    border: 2px solid #A8F0FF;
    color: white;
}

.contributor_bar input:focus {
    border-color: #A8F0FF;
    box-shadow: 0px 0px 8px #A8F0FF;
}

.contributor_header {
    color: #A8F0FF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #A8F0FF;
    margin-bottom: 0px;
}

#contributor {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: right;
    transform: translateY(100px);
}

#contributor .userBlock {
    padding-bottom: 15px;
    border: 2px solid #A8F0FF;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 270px;
    min-height: 350px;
    width: 100%;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0px 0px 15px black, 0px 0px 15px black !important;
}

#contributor .userBlock:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 20px black !important;
    color: white;
    background: linear-gradient(#A8F0FF, #A8F0FF);
}

#contributor .userBlock h4 {
    text-shadow: 6px 6px 10px black;
}

#contributor .userBlock p {
    margin-bottom: 5px;
    text-shadow: 6px 6px 10px black;
}

#contributor a {
    text-decoration: none;
    color: white;
    margin: 0;
    margin-right: 10px;
    border-radius: 5%;
}

#contributor img {
    height: 180px;
    width: auto;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0px 0px 15px black;
}

.contributor_text {
    padding-top: 9%;
}

.contributor_text h2 {
    color: white !important;
    font-size: 3rem;
}

.contributor_text h4 {
    color: white !important;
    font-family: cursive;
    font-size: 2rem;
}

@media (max-width: 1000px) {
    .contributor_text h2 {
        font-size: 38px !important;
    }

    .contributor_text h4 {
        font-size: 27px !important;
    }
}

@media (max-width: 575px) {
    .contributor_text h2 {
        font-size: 2rem !important;
    }

    .contributor_text h4 {
        font-size: 1rem !important;
    }

    .contributor_svg_section svg {
        width: 65% !important;
    }

    .contributor_text {
        margin-left: 60px !important;
    }
}

@media (max-width:300px) {
    .contributor_text h4 {
        display: none !important;
    }

    .contributor_svg_section svg {
        width: 100% !important;
    }

    .contributor_text h2 {
        font-size: 20px !important;
    }

    .contributor_svg_section {
        padding-top: 24% !important;
    }

    #contributor .userBlock a img {
        width: 100%;
    }
}