/* ========================================
   TEAM SECTION STYLES
   ======================================== */

.team {
    text-align: center;
    transform: translateY(100px);
}

.team img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.team .row {
    justify-content: space-evenly;
}

.team h1 {
    text-shadow: 0px 0px 15px #A8F0FF;
}

#team_img {
    box-shadow: 4px 4px 4px rgba(75, 74, 74, 0.795);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.829);
    border: none;
    margin: 20px;
    justify-content: center;
    text-align: center;
    background-color: white;
    background: linear-gradient(#A8F0FF, #0A0A0A);
    color: white;
    border-radius: 10px;
    width: auto;
    z-index: 99999;
    padding-bottom: 5px;
}

#team_img span {
    display: grid;
    grid-gap: 10px;
    position: absolute;
    top: 0px;
    left: 100%;
    background-color: #A8F0FF;
    background-color: #0A0A0A;
    padding: 10px;
    transform: translateX(-40px);
    visibility: hidden;
    z-index: -2999;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#team_img img {
    box-shadow: 0px 0px 10px #0A0A0A;
}

#team_img:hover {
    transform: scale(1.1);
    border-top-right-radius: 0px !important;
}

#team_img:hover>span {
    visibility: visible;
    transform: translateX(0px);
}

#team_img i {
    font-size: 20px;
    color: white;
}

#team_img i:hover {
    transform: scaleX(1.05);
}

#team_img h3,
#team_img h5 {
    text-shadow: 6px 6px 10px #0A0A0A;
}

#team_img .fa-linkedin:hover {
    background-color: #A8F0FF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.9s;
    transform: scaleX(1.4);
}

#team_img .fa-instagram:hover {
    background: -moz-linear-gradient(45deg,
            #9c2bff 0%,
            #248aff 25%,
            #26ebe1 50%,
            #1cd91c 75%,
            #26bc18 100%);
    background: -webkit-linear-gradient(45deg,
            #9c2bff 0%,
            #248aff 25%,
            #26ebe1 50%,
            #1cd91c 75%,
            #26bc18 100%);
    background: linear-gradient(45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.9s;
    transform: scale(1.4);
}

#team_img .fa-github:hover {
    background-color: #0A0A0A;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.9s;
    transform: scale(1.4);
}

/* My Img (Maybe for Profile?) */
.myimg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
}

@media only screen and (max-width: 1191px) {
    .myimg {
        width: 50%;
        height: 50%;
    }
}

@media only screen and (min-width: 1216px) {
    .myimg {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    #team_img {
        width: fit-content;
    }
}